.breadcrumb{
  font-size: $breadcrumb-font-size;
  > li{
    > a{
      color: $breadcrumb-link-color;
    }
    + li{
      &:before{
        padding: 0;
        padding-left: 3px;
      }
    }
  }
}