//
// Wells
// --------------------------------------------------


// Base class
.well {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: $well-bg;
  blockquote {
    border-color: #ddd;
    border-color: rgba(0,0,0,.15);
  }
}

// Colors
$well-colors: ( 
  primary: $brand-primary,
  success: $brand-success);

@each $class,
$bgcolor in $well-colors {
  @include well-variant($class, $bgcolor);
}

// Sizes
.well-lg {
  padding: 37px;
}
.well-sm {
  padding: 9px;
}
