<div class="form-actions form-group js-form-wrapper form-wrapper">
  <button class="button button--primary js-form-submit form-submit btn-success btn" type="button">
    {{ 'Add to cart'|t }}
  </button>
</div>
