{#
/**
 * @file
 * Default theme implementation for a 'form' element.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the wrapper element.
 * - children: The child elements of the form.
 *
 * @see template_preprocess_form()
 *
 * @ingroup themeable
 */
#}

<div class="auth-user-form">
  <form{{ attributes }}>
    <h2 class="form-header">{% block form_header %}{% endblock %}</h2>
    {{ children }}
  </form>
  <div class="auth-user-form--footer">
    {% block form_footer %}{% endblock %}
  </div>
</div>
