//
// Frontpage
// --------------------------------------------------
.path-frontpage{
  .region-header{
    background-color: $violet-medium;
  }
  .menu-catalog__link{
    color: #fff;
  }
  .footer{
    margin-top: 0;
  }
}
