//
// Top Navigation
// --------------------------------------------------
.region-top-navigation {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: flex-start;
  height: $navbar-height;
}
